$font = #333
$font-o = #fff
$grey = rgb(246,246,246)
$bgColor = rgb(235,235,235)
$borderColor = rgb(224,224,224)
$bc = #e4e4e4
$edit = #444
$warn = #ff4149
$green = #00a267

$transition = all 0.5s ease


$bottomHeight = 5rem
